# TABLE OF CONTENTS
# **IEB MiM&A** 
# Introduction to Python for Data Analysis üêçüìä
# *Notebook 6: Importing and Exporting Data*
---

### TABLE OF CONTENTS
1. INTERACTING W/ OPERATING SYSTEM
2. IMPORTING/EXPORTING CSV, TXT, XLSX 
3. SCRAPING THE WEB
4. OPERATING W/ APIs
4. EXERCISES

### üßë‚Äçüè´ Juan Martin Bellido
* [linkedin.com/in/jmartinbellido](https://www.linkedin.com/in/jmartinbellido/)
* juan.martin.bellido.arias@claustro-ieb.es

*Please note that this notebook should be run in your local environment*

# INTERACTING W/ OPERATING SYSTEM
---
The *os* library contains functions that help interact with operating system (works for both Windows, Mac and Linux). Functions to be introduced in this section,

| # | Function    | Description                                  | Key Parameters     |
|---|-------------|----------------------------------------------|--------------------|
| 1 | os.getcwd() | *Shows path to current working directory*    |                    |
| 2 | os.mkdir()  | *Creates folder on given path*               | 'path/folder_name' |
| 3 | os.chdir()  | *Changes working directory to path provided* | 'path/folder_name' |
| 4 | os.rmdir()  | *Removes folder*                             | 'path/folder_name' |

In [ ]:
# Importing libraries
import os

In [2]:
# Import dataframe
df_jamesbond = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv",index_col="Film")

### Interacting with operating system
---

In [ ]:
# we begin by checking current working directory
os.getcwd()

In [ ]:
# we now create a new folder in our working directory
os.mkdir('new_folder')
## as we do not provide a full path (simply a name), python understands that the folder is to be set in our working directory
## alternatively, we could set a full path --> os.mkdir('path/new_folder')

In [ ]:
# we can set a new working directory
os.chdir('new_folder') # let's set "new folder" as the new wd
os.getcwd() # let us check the new working directory

In [ ]:
# finally, we will remove the folder we created
os.rmdir('new_folder')

# IMPORTING/EXPORTING CSV, TXT, XLSX
---

Most popular formats used for importing datasets are *csv*, *xlsx* and *txt*.

| # | Function         | Description                                       | Key Parameters                  |
|---|------------------|---------------------------------------------------|---------------------------------|
| 1 | pd.read_csv()    | *Imports dataframe from URL or local drive*       | 'path/file_name', sep=','/'\t'  |
| 2 | df.to_csv()      | *Exports dataframe to local drive*                | 'path/file_name', sep=','/'\t'  |
| 3 | df.to_excel()    | *Exports dataframe to a single sheet Excel file*  | 'path/file_name', sheet_name='' |
| 4 | pd.ExcelWriter() | *Generates a blank Excel file in memory*          | 'path/file_name'                |
| 5 | wb.save()        | *Exports Excel file stored in memory*             |                                 |
| 6 | pd.read_excel()  | *Reads a sheet from an Excel file stored locally* | 'path/file_name', sheet_name='' |

In [ ]:
# Importing libraries
import pandas as pd

In [ ]:
# Importing dataframes
df_starwars = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv")
df_jamesbond = pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")

#### Exporting and importing csv/txt files

In [ ]:
# we start using pandas function "to_csv" to export locally a dataframe
df_jamesbond.to_csv("dataset_jamesbond.csv")
## alternatively, we could provide a specific path -> df_jamesbond.to_csv("path/dataset_jamesbond.csv")

In [ ]:
# we can use the same function to export dataframe as txt (tab delimited) file
df_jamesbond.to_csv("dataset_jamesbond.txt",sep='\t') # we need to edit parameter "sep" to force tab delimited format

In [ ]:
# we use pandas function "read_csv" to import file stored locally
pd.read_csv("dataset_jamesbond.csv")
## alternatively, we could provide a specific path -> df_jamesbond.read_csv("path/dataset_jamesbond.csv")

In [ ]:
# the same function serves to read tab delimited files
pd.read_csv("dataset_jamesbond.txt",sep='\t')

#### Writing and importing an Excel file

In [ ]:
# let us start exporting a dataframe as a single sheet excel file
df_jamesbond.to_excel('my_excel_file.xlsx', sheet_name='james_bond')

In [ ]:
# the issue with this method is when we want to store more than one sheet on the same excel file
## this method overwrites the existing excel file (if there was one with the same name) 
df_starwars.to_excel('my_excel_file.xlsx', sheet_name='star_wars')

In [ ]:
# to create a multiple sheet excel file, we need some extra steps

# create an "excel writer"
wb = pd.ExcelWriter('my_excel_file_v2.xlsx') # here, we specify the name of the excel file
# write dataframe to excel sheets 
df_jamesbond.to_excel(wb, 'Sheet_James_Bond') # here, we create a sheet and store data on it
df_starwars.to_excel(wb, 'Sheet_Star_Wars') # we create a second sheet and store data on it
# save the excel file
wb.save()

In [ ]:
# the read_excel method allows to import a dataframe stored on a specific sheet
## when not specifying sheet name, pandas will automatically import the first sheet in excel file
pd.read_excel('my_excel_file_v2.xlsx', sheet_name='Sheet_Star_Wars')

# SCRAPING THE WEB
---

In [ ]:
# Importing libraries
import pandas as pd
import requests
import bs4

### Pulling basic information from the web

In [4]:
# we use the get() function to read html from a website
web_page = requests.get("https://es.wikipedia.org/wiki/Anexo:Municipios_de_Espa%C3%B1a_por_poblaci%C3%B3n")

In [5]:
# we use now BeautifulSoup() to clean html scraped from web
soup = bs4.BeautifulSoup(web_page.text,"lxml")

In [6]:
# from now on, we can extract specific elements from html
soup.select("title")

In [7]:
# to get even cleaner text, we use .getText()
soup.select("title")[0].getText()

'Anexo:Municipios de Espa√±a por poblaci√≥n - Wikipedia, la enciclopedia libre'

In [8]:
# selecting h2 titles
soup.select("h2")[2].getText()

'Municipios con m√°s de 200 000 y menos de 500 000 habitantes[editar]'

In [9]:
# we could build a loop to print all titles
titles = soup.select("h2")
for t in titles:
    print(t.getText())

√çndice
Municipios con m√°s de 500 000 habitantes[editar]
Municipios con m√°s de 200 000 y menos de 500 000 habitantes[editar]
Municipios con m√°s de 100 000 y menos de 200 000 habitantes[editar]
Municipios con m√°s de 50 000 y menos de 100 000 habitantes[editar]
Municipios con m√°s de 20 000 y menos de 50 000 habitantes[editar]
Municipios con m√°s de 10 000 y menos de 20 000 habitantes[editar]
Municipios con m√°s de 5 000 y menos de 10 000 habitantes[editar]
Poblaci√≥n por municipios[editar]
V√©ase tambi√©n[editar]
Referencias[editar]
Men√∫ de navegaci√≥n

### Pulling more from website

In [10]:
# we pull the route a specific image
soup.select("img")[0]['src']

'//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Municipalities_of_Spain.svg/400px-Municipalities_of_Spain.svg.png'

In [ ]:
# Note: this is markdown, please run this as a markdown cell
# We use route extracted to display image
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Municipalities_of_Spain.svg/400px-Municipalities_of_Spain.svg.png">

<img src="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Municipalities_of_Spain.svg/400px-Municipalities_of_Spain.svg.png">

In [11]:
# we now use findAll() to search for specific elements in html
web_table=soup.findAll('table',{'class':"wikitable"})

In [12]:
# we use pandas read_html() to convert html tables into a pandas DataFrame
df=pd.read_html(str(web_table))
df[0]

   N.¬∫     Nombre  ...            Provincia    Comunidad aut√≥noma
0    1     Madrid  ...  Comunidad de Madrid   Comunidad de Madrid
1    2  Barcelona  ...            Barcelona              Catalu√±a
2    3   Valencia  ...             Valencia  Comunidad¬†Valenciana
3    4    Sevilla  ...              Sevilla             Andaluc√≠a
4    5   Zaragoza  ...             Zaragoza                Arag√≥n
5    6     M√°laga  ...               M√°laga             Andaluc√≠a

[6 rows x 5 columns]

### Alternative: pulling table directly using pandas

In [14]:
# we use pandas read_html() to import table directly from the web
# we need to use the atttrs parameter to help pandas find the table in the html
df = pd.read_html(
    "https://es.wikipedia.org/wiki/Anexo:Municipios_de_Espa%C3%B1a_por_poblaci%C3%B3n", 
    attrs={'class':"wikitable"}
)
df[2].head()

   N.¬∫             Nombre  ...            Provincia   Comunidad aut√≥noma
0   31  Alcal√° de Henares  ...  Comunidad de Madrid  Comunidad de Madrid
1   32        Fuenlabrada  ...  Comunidad de Madrid  Comunidad de Madrid
2   33      San Sebasti√°n  ...            Guip√∫zcoa           Pa√≠s Vasco
3   34            Legan√©s  ...  Comunidad de Madrid  Comunidad de Madrid
4   35             Getafe  ...  Comunidad de Madrid  Comunidad de Madrid

[5 rows x 5 columns]

# OPERATING W/ APIs
---

In [ ]:
# Importing libraries
import pandas as pd
import yfinance as yf

In [ ]:
# we create an object that stores information pulled from ticker MSFT (Microsoft)
msft = yf.Ticker("MSFT")

In [ ]:
# there are specific attributes that allow to pull info from object (e.g. P&L)
msft.financials

In [ ]:
# we pull all available data on stock rates
msft.history(period="max")

In [ ]:
# alternatively, we could pull only stock rates data from a specific timeframe
yf.download("MSFT", start="2022-01-01", end="2022-01-31")

# EXERCISES

##### EX 1: Wikipedia - Real Madrid
---
> [https://es.wikipedia.org/wiki/Real_Madrid_Club_de_F√∫tbol](https://es.wikipedia.org/wiki/Real_Madrid_Club_de_F%C3%BAtbol)
 
Scrape Real Madrid FC pasge on Wikipedia. Pull the following data: *titles, image with team logo, table with club top scoreres.*

In [ ]:
# Importing libraries
import pandas as pd
import requests
import bs4

In [ ]:
# scraping web, parsing object to bs
web_page = requests.get("https://es.wikipedia.org/wiki/Real_Madrid_Club_de_F%C3%BAtbol")
soup = bs4.BeautifulSoup(web_page.text,"lxml")

In [ ]:
# reading title
soup.select("title")[0].getText()

In [ ]:
# finding route to image
soup.select("img")[0]['src']

In [ ]:
# the following snippet should be run on a markdown cell
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/c/ca/ARMAN_Khanoyan.png/160px-ARMAN_Khanoyan.png">

In [ ]:
# pulling all tables from a specific class
web_tables=soup.findAll('table',{'class':"unsortable"})

In [ ]:
# converting html table into pandas DataFrame
df = pd.read_html(str(web_table))
df[0]

##### EX 2: API & Excel
---
* Use Yahoo Finance to pull daily stock rates data for Amazon (AMZN), Google (GOOG) and Meta (FB) for July, 1st 2021 till January, 31st 2022
* Store results on an Excel file, using separate tabs for each company stock rates

In [ ]:
import pandas  as pd
import yfinance as yf

In [ ]:
data_amzn = yf.download("AMZN", start="2021-07-01", end="2022-01-31").reset_index()
data_goog = yf.download("GOOG", start="2021-07-01", end="2022-01-31").reset_index()
data_fb = yf.download("FB", start="2021-07-01", end="2022-01-31").reset_index()

wb = pd.ExcelWriter('stocks.xlsx')
data_amzn.to_excel(wb,sheet_name='amazon',index=False)
data_goog.to_excel(wb,sheet_name='google',index=False)
data_fb.to_excel(wb,sheet_name='meta',index=False)
wb.save()